    /* make scrolling smooth */
    html{
    scroll-behavior: smooth;
  
}

    /* 
    get rid of padding & sizing on body so
    header is at top
    */
    body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

    /* add some padding back to rest of page */
    main{
    padding: 2vw;
   
}

    /* logo adjustment */
    .logo{

    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-top: 0.2rem;
    margin-left: 0.2rem;
    
   

}
    .logo img{
    height: 6vw;
    width: 6vw;
    margin-left: 20px;
}
    .logo h1{
    font-size: 1.2em;
    padding: 10px;
}
    /*burguer*/
    span#burguer{
    background-image: (to bottom,#582c28, #8c3d35);
    color:white;
    display:block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    color:#f1ddc3f4;
    
    

}

    span#burguer:hover{
    background-image: (to bottom,#582c28, #8c3d35);
    color:#f1ddc3f4;
}
 /* menu adjustment */
    menu{
    display: none;
}
    menu > ul{
    list-style-type: none;
}
    menu > ul >li >a{
    display:block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-image: (to bottom,#582c28, #8c3d35);
    color:#f1ddc3f4;
}



