body {
    font-family:Gloock;
background-color:#f5f5dc;
color:#521EC9;

}
h1,h2,h3,h4,h5,h6 {
font-family: Mynerve;
text-align: center;

}
h1{
    font-size: 30pt;
}
h2 {
    margin: 1em;
}

header{
    text-align: center;
}

#hero,footer {
    background-color:lightpink;
    color:#FF1493;
    border: 4px  solid;
    text-align: center;
    padding: 15px;
}
/* Hero Section */
#hero img{
    width: 300px;
}
/* Bio Section */
#bio{
    text-align:center;
}
/* Hobbies Section */

    section#hobbies {

            display: flex;
            flex-direction: column;
            align-items: center;
    }
    li{

            display: flex;
            flex-direction: column;
            align-items: center;
        }
    

        #hobbies ul li:nth-child(odd){
            color:purple;
    }

/* Galeria */
#gallery{
    border: 3px solid #FF1493;
    margin-bottom: 5rem;
}
    #gallery img{
     max-width: 75%;

    }
    #gallery figure{
        text-align: center;
    }

    /*Literature*/
    #lit{
        font-family:Arial, Helvetica, sans-serif;
        border: 4px solid #FF1493;
        margin-bottom: 5rem;
        
    }
    #lit div{
        padding:3rem;
        max-width: 40rem;
        margin: 0 auto;
       
    }
    #lit div p{
        padding:0.2rem 0;
        clear: both;
    }
    /* Dropcaps*/

    #lit div p:first-child:first-letter{
        color:#FF1493;
        background-image: linear-gradient(#FFF,#FFB2DC);
        float:left;
        font-size:2em;
        padding:.25em;
        line-height:.65em;
        border: 1px solid black;
        text-shadow: 2px 2px 3px rgba(0,0,0,.5);
        box-shadow: 3px 3px 3px rgba(0,0,0,.5);
        border-top-left-radius:.3em;
        border-bottom-right-radius: .2em;

    }
    /* tablet size*/
    @media screen and (min-width: 60em) {
     figure{
        display:grid;
        grid-template-columns: 2fr 1fr;
     }  
     figcaption{
     display:flex;
     justify-content: center; 
     align-items: center;
     font-size: 2rem;
     margin-left: 1rem;
    }
    figure img{
        width:100%
    }
    #lit div{
        max-width:100%;
        columns:40rem;
    }
    }
    /* large screen size*/
    @media screen and (min-width:100em){
        #gallery{
            display:grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
        hr{
            display:none;
        }
        #gallery h2{
            grid-column: 1/-1;
        }
        figure{
            display: block;
        }
    }
    #video{
        text-align: center;
        border: 3px solid #FF1493;
        margin-bottom: 5rem;
        font-size: 20px;
        
    }

