/*body*/

    body {
    font-family:Arial, Helvetica, sans-serif;
    background-color:hwb(33 78% 2% / 0.82);
    color:#000000;
    
    }

    /*Paragraph*/
        p{
        font-size: 18px;
        text-align:relative;
        line-height: 2em;
        text-indent: 20px;
        margin-left: 5%;
        margin-right: 5%;
          
    }

    /*Frase- treasure*/
        .phrase{
        font-size: 1.7rem;
        text-align:center;
        color:#c9491bf6;
        font-family: Mynerve;
    
    }
    
        h1,h2,h3,h4,h5,h6 {
        font-family: Mynerve;
        text-align: center;
    
    
    }
        h1{
        font-size: 30pt;
    
    }
        h2 {
        margin: 1em;
        color:#a9261a;
        font-size: 30px;
        
    }
    
    /*header configuration*/
        header{
        background-image: linear-gradient(to bottom,#582c28, #8c3d35);
        color: #f1ddc3f4;
        display: flex;
        flex-direction:column;
        font-size: 1rem;
        margin-bottom: 1rem;
        padding: 1rem;
        box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.556);
      
    }
    
    /*background from my picture*/
        #hero{
        background-color:#e9ceac;
        color: #8e2904;
        border: #a13c17 4px  solid;
        text-align: center;
        padding: 4rem 2rem;
        border-radius: 20px 0px;
        
        
    }
    

    /* My picture */
     #hero img{
        padding:none;
        width: 320px;
        border-style:solid;
        border-width: 3px;
        border-color: white;
    
    }

    .mypic{
        transition-property: border-radius;
        transition-duration: 1.5s;
        transition-timing-function: ease-in;
    }

    .mypic{
        border-radius: 20%;
    }
   


    /*My picture text*/
        #me{
        font-size: 20px;
        font-style: bold;
       
     }
     
   


    
    /* Bio Section */
        #bio{
        text-align:center;
        
        
    }
    
    /* Hobbies Section */
    
        section#bio {
    
        display: flex;
        flex-direction: column;
        align-items: center;
                
        }
        
    
        #bio ul li:nth-child(odd){
        color:dark;
     }
    
       
    
    /* Galeria of Happiness*/
    
        .happiness1{
        border: 2px solid dark;
        margin-bottom: 5rem;
        display: flex;
        justify-content:baseline;
        align-items:center;
        
     
     }
     
        .happiness1 img{
        max-width: 30%;
        border-radius: 40px;
        border-style:groove;
        border-width: 2px;
        border-color:#8e2904;
        position: relative;
        overflow: hidden;
        
     }
     
        .happiness1 figure{
        text-align:center;
        
    }
     /*animation*/
        .happiness1{
        transition-duration: 1000ms;
        transition-timing-function: ease-in-out;
       
        
    }
        .happiness1:hover{
        background :transparent;
        transform: rotate(20deg);
    }

        #happiness1{
        box-sizing: border-box;
        transform: translate(100px, -10px);
    }
        /*end animation*/


        /*text of gallery*/
        figcaption{
        font-size: 20px;
        padding: 9px;
        font-family: Arial, Helvetica, sans-serif
    }
   

    /*video*/
        #video{
        text-align: center;
        border: 3px solid #a13c17;
        margin-bottom: 5rem;
        font-size: 20px;   
    }

     /*Blog*/
     
        #blog{
        padding:3rem;
        max-width: 40rem;
        margin: 0 auto;
        text-align: justify;
        background-color: #d48b70;
        padding-top: 10px;
       
    }
        #blog div p{
        padding:0.2rem 0;
        clear: both;

     } 
        /* First letter*/
        #blog div p:first-child:first-letter{
        color:#592c28;
        background-image: linear-gradient(#F2d7b6,#a68c6d);
        float:left;
        font-size:4em;
        padding:.25em;
        line-height:.65em;
        text-shadow: 2px 2px 3px rgba(0,0,0,.5);
        box-shadow: 3px 3px 3px rgba(0,0,0,.5);
        border-top-left-radius:.3em;
        border-bottom-right-radius: .2em;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

   
        /*Find me*/
        #findme{
            text-align: center;
            font-size:30px;
            text-decoration: none;
        }
         /* Contact Form */
         
         #formElements{
            display: grid;
            row-gap: 0.5rem;
            
         }
    
         #contact{
            padding: 1rem;
            max-width: 600px;
            margin: 2rem auto;

            
         }
    
         fieldset{
            border: 1px solid #a13c17;
            margin-top:1em;
            margin-bottom:1em;
            border-radius: 2rem;
         }
          /* text inside of the contact box */
         legend{
    
            background-color:#d97b59;
            color:black bold;
            padding:  0.5rem;
    
         }
         #contact input, #contact textarea, #contact select, #contact button{
            padding: .5em;
            font-size: 1rem;
            
    
         }
        /* Contact unordered list*/
         #contact ul{
            list-style: none;
            padding: 0px;
            
         }
    
         #contact li{
            margin: 1rem;
         }
         /* Contact buttom */
         #contact button{
            background-color: #8c3d35;
            color:white;
            border: 2px solid #592c28;
            max-width: 400px;
            width: 50%;
            justify-self: center;
    
         }

        /* tablet size*/
        @media screen and (min-width: 60em) {
            figure{
               display:flex;
               justify-content: center;
               grid-template-columns: 2fr 1fr;
            }  
         figcaption{
            display:grid;
            align-items:center;
            font-size: 1rem;
            margin-left: 1rem;
            font-family: Arial, Helvetica, sans-serif;
            }
            
        }

        /* large screen size*/
        @media screen and (min-width:100em){
            #happiness{
                display:grid;
                grid-template-columns: 1fr 1fr 1fr;
            }
            hr{
                display:none;
                
            }
            #happinessh2{
                grid-column: 1/-1;
                
            }
            figure{
                display: block;
              
            }
        }
        
       
        /*Picture transforme- I used it to organize the photos inside the CSS animation content*/
        .cod1{
            width: 280px;
            height: 250px;
            box-sizing: border-box;
            translate:translate(15px,0px);
            padding-left: 8px;
            
        }
        .trans1{
            width: 280px;
            height: 250px;
            box-sizing: border-box;
            transform: translate(15px,0px);
            
        }

        .cod2{
            width: 310px;
            height:130px;
            box-sizing: border-box;
            transform: translate(15px,0px);
            padding-right:20px;

        }
        .trans2{
            width: 280px;
            height: 250px;
            box-sizing: border-box;
            transform: translate(15px,0px);

        }
        /*end of trasforme*/

/*box*/
.box{

    align-items: center;
    background-color:  #9b6660;
    height: 300px;
    width: 300px;

    
    transition-property:background-color, border-radius;
    transition-duration: 2s 1.5s;
    transition-timing-function: cubic-bezier(.15,.89,.85,.26);
    transform: rotate(15deg);

}
.box:hover{
    background-color: #ec5840;
    border-radius: 50%;
}






          /*fooster*/
        footer {
            background-image: linear-gradient(to bottom, #8c3d35,#582c28);
            color:#fae3c7d1;
            border: 4px  solid;
            text-align: center;
            padding: 4rem 2rem;
            font-size: 1rem;
            box-shadow: 2px 2px 4px 1px #0000008e;   
        }

        footer a{
        color: #fae3c7d1;
        }

        a{
            color:black;
            font-size:22px;

        }